In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
client = MongoClient('mongodb://localhost:27017/')

db = client['tweets_database']

collection = db['tweets']

In [3]:
tweets_df = pd.DataFrame(list(collection.find()))

In [4]:
tweets_df.head(5)

,_id,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,6638fb4bf752898ed7a37e27,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,6638fb4bf752898ed7a37e28,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,6638fb4bf752898ed7a37e29,3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,6638fb4bf752898ed7a37e2a,4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,6638fb4bf752898ed7a37e2b,5,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [5]:
tweets_df.shape

(1599999, 7)

In [6]:
df = tweets_df.drop(['0','_id'], axis=1)

In [7]:
df.dtypes

1467810369                                                                                                              int64
Mon Apr 06 22:19:45 PDT 2009                                                                                           object
NO_QUERY                                                                                                               object
_TheSpecialOne_                                                                                                        object
@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D    object
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 5 columns):
 #   Column                                                                                                               Non-Null Count    Dtype
---  ------                                                                                                               --------------    -----
 0   1467810369                                                                                                           1599999 non-null  int64
 1   Mon Apr 06 22:19:45 PDT 2009                                                                                         1599999 non-null  object
 2   NO_QUERY                                                                                                             1599999 non-null  object
 3   _TheSpecialOne_                                                                                                      1599999 non-null  object
 4   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  1599999 non-null  object
dtypes: int64(1), object(4)
memory usage: 61.0+ MB

In [9]:
df.isnull().sum()

1467810369                                                                                                             0
Mon Apr 06 22:19:45 PDT 2009                                                                                           0
NO_QUERY                                                                                                               0
_TheSpecialOne_                                                                                                        0
@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D    0
dtype: int64

tweets_df.loc[-1] = tweets_df.columns
tweets_df.index = tweets_df.index + 1
tweets_df.sort_index(inplace=True)

In [10]:
new_row = pd.DataFrame([df.columns], columns=df.columns)
df1 = pd.concat([new_row, df], ignore_index=True)

In [11]:
df1.head(5)

,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [12]:
new_columns = ["ids", "date", "flag", "user", "text"]
df1.columns = new_columns
df2 = df1

In [13]:
df2.head(3)

,ids,date,flag,user,text
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...

In [14]:
df2.shape

(1600000, 5)

In [16]:
sample_df = df2.sample(n=100000)

In [18]:
sample_df.shape

(100000, 5)

In [19]:
sample_df.to_csv('New_Tweets.csv', index=False, encoding='utf-8')